@model IEnumerable<TwistedDarts.Models.PlayerPhase>


@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season.SeasonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeasonID)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.SeasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PlayerPhaseID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PlayerPhaseID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PlayerPhaseID })
            </td>
        </tr>
    }
    
    </table>
